/* navbar styling */
body {
    display:block;
}
header {
    max-width: 100%;
    display:block;
    position:relative;
    top:20px;
}

#r_nav {
    min-width:20%;
    position: relative;
    float:right;
    padding-left: 30px;
    padding-right: 15px;
}
.button_container div {
    display:inline;
    padding-left:15px;
}

.txt_buttons {
    float:left; 

}

main {
    text-align: center;
}