/* navbar styling */
body {
    display:block;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}
header {
    margin:30px 20px 0 20px;
    font-size: .85em;
}

#r_nav {
    position: relative;
    float:right;
    top:50%;
    transform: translateY(-50%);
}

#r_nav a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 13px;
    color:black;
    text-decoration: none;
    opacity: .55
}
#r_nav a:hover {
    text-decoration: underline;
    opacity: 1;
}
#apps {
    width:30px;
    height:30px;
    background-image: url(../img/sprites.png);
    background-position: -132px -38px;
    background-size:528px 68px;
}
#notifications {
    width: 20px;
    height: 20px;
    background-image: url(../img/sprites.png);
    background-color: black;
    background-position: -194px -21px;
    background-size: 528px 68px;
    border-radius: 50%;
}

a#user {
    width: 32px;
    height: 32px;
    background-image: url(../img/photo.jpg);
    border-radius: 50%;
    opacity: 1;
}

main {
    text-align: center;
    position:relative;
    top: 200px;
    margin: 0 auto;
}

.logo_hero {
    max-width:30%;
    margin:0 auto;
}

.logo_hero img {
    height:92px;
    margin:0 auto;
}

.search_form  {
    padding-top:25px;
}
.searchbar_outer {
    max-width:484px;
    margin:0 auto;
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    height:44px;
    border-radius: 2px;
}

.searchbar_outer:hover, .searchbar_outer:active{
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4,0.0,0.2,1);
}
.searchbar_inner {
    max-width:100%;
    height:auto;
    margin:auto;
    padding:3px 6px 3px 10px;
}
.searchbar_inner input#search_input {
    margin:0px;
    height:34px;
    width:100%;
    padding:0;
    border:none;
    font:16px arial,sans-serif;
    line-height:34px;
}
input#search_input:focus {
    outline: none;
}
.search_form button {
    margin-top: 30px;
    background: #f2f2f2;
    border:none;
    padding:0 16px;
    height:36px;
    color: #757575;
    font-size: 13px;
    font-weight:bold;
}

.search_form button:hover {
    color:#222;
    border:1px solid #c6c6c6;
    box-shadow:0 1px 1px rgba(0,0,0,0.1);
    background-image:-webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
}